p {
 font-size: 14px;
 font-family: "Arial";
}
h1 {
 font-size: 26px;
 font-family: "Arial";
}
ul li {
  font-family: "Arial";
  font-size: 16px;
  justify-content: center;
}
nav {
  display: block;
  margin-top: 20px;
  /* margin-left: 19px; margin-right: 18px; */
  padding: 10px;
  color: #C0BAB6;
  background-color: #333;
}
nav ul {
 /* text-align: center; */
 margin-left: 400px;
}
#search {
 margin-top: 5px;
 align-items: center;
}
nav li {
  display: inline;
  margin-right: 25px;
}
nav li a {
  color: #ffffff;
  font-size: 12px;
display:inline;
}
nav li a:hover {
  color: #CCD1D1;
}
.contact-me h1 {
  /* margin-top: -300px; */
  text-indent: 10px;
}
#submit {
  margin-left: 1em;
}
#email, #name, #lname {
  margin-top: 3px;
}
p u {
  margin-left: 1em;
}
header p {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 1px;
}
/*
table { border-collapse: collapse; }
#testtt td,
th + th { border-left: 1px solid; }
tr + tr { border-top: 1px solid; }
*/

form p:not(#confirm-email) {
  margin-left: 1em;
  display:inline;
}
#email-text {
  padding-left: 2.35em;
}